* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.main-btn {
  display: inline-block;
  padding: 15px 30px;
  background-color: #0E8784;
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 900;
  font-size: 18px;
  border-radius: 6px;
  font-family: "Fraunces", serif;
  margin-top: 56px;
  border: none;
  outline: none;
  transition: 0.5s ease;
}

.main-btn:hover {
  background-color: #0e8784;
}

.main-btn:focus {
  background-color: #66D2CF;
}

.main-btn:active {
  background-color: #66D2CF;
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 92%;
  }
}
.header {
  position: fixed;
  z-index: 5;
  top: 0;
  width: 100%;
}
.header .roaster-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding-top: 20px;
}
.header .roaster-header .nav__list {
  list-style-type: none;
  display: flex;
  gap: 33px;
}
.header .roaster-header .nav__list .nav__link {
  text-decoration: none;
  color: #83888f;
  font-family: "Barlow";
  font-weight: 700;
  font-size: 14px;
  line-height: 15px;
  transition: 0.5s ease;
}
.header .roaster-header .nav__list .nav__link_active {
  text-decoration: none;
  font-family: "Barlow";
  font-weight: 700;
  font-size: 14px;
  line-height: 15px;
  transition: 0.5s ease;
  color: #333;
}
.header .roaster-header .nav__list .nav__link:hover {
  color: #333;
}

@media screen and (max-width: 768px) {
  .header {
    position: static;
  }
  .header .roaster-header {
    gap: 0;
    justify-content: space-between;
    position: static;
  }
}
.bitmap {
  margin-top: 100px;
}
.bitmap .bitmap__image {
  background: url(../images/Bitmap_img.jpg) no-repeat center;
  max-width: 1200px;
  height: 564px;
  background-size: contain;
  padding: 117px 660px 0 86px;
}
.bitmap .bitmap__image .bitmap__title {
  font-family: "Fraunces", serif;
  color: #fff;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
}
.bitmap .bitmap__image .bitmap__description {
  font-family: "Barlow";
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  max-width: 410px;
  margin-top: 30px;
}

@media screen and (max-width: 768px) {
  .bitmap {
    margin-top: 55px;
  }
  .bitmap .bitmap__image {
    background: url(../../images/Bitmap_img.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    max-width: 100%;
    max-height: 500px;
    padding: 70px 300px 0 40px;
  }
  .bitmap .bitmap__image .bitmap__title {
    font-size: 40px;
    line-height: 48px;
  }
  .bitmap .bitmap__image .bitmap__description {
    font-size: 14px;
  }
}
.collection {
  position: relative;
  padding: 248px 85px 0;
}
.collection .collection-types {
  display: flex;
  position: relative;
  z-index: 2;
  justify-content: space-between;
}
.collection .collection-types .collection-types__pocket {
  width: 253px;
  cursor: pointer;
}
.collection .collection-types .collection-types__pocket .type-info__heading {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 24px;
  text-align: center;
  color: #333d4b;
}
.collection .collection-types .collection-types__pocket .type-info__description {
  font-family: "Barlow";
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #333d4b;
  line-height: 26px;
  margin-top: 24px;
}
.collection .collection-heading__text {
  position: absolute;
  font-size: 170px;
  opacity: 0.5;
  text-align: center;
  background: -webkit-linear-gradient(#333 0%, #eee 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  font-family: "Fraunces", serif;
  top: 130px;
  left: 100px;
}

@media (max-width: 768px) {
  .collection {
    padding: 200px 0 0;
  }
  .collection .collection-heading__text {
    font-size: 95px;
    text-align: center;
    margin: 0 auto;
    top: 144px;
    left: 63px;
  }
  .collection .collection-types {
    flex-direction: column;
    align-items: center;
  }
  .collection .collection-types .collection-types__pocket {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 550px;
    gap: 10px;
  }
}
.choosing {
  margin-top: 200px;
}
.choosing .choose-block {
  width: 1200px;
  height: 550px;
  border-radius: 10px;
  background-color: #2c343e;
  position: relative;
}
.choosing .choose-block .choose-block__info {
  padding: 100px 340px 0;
}
.choosing .choose-block .choose-block__info .info-block__heading {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 40px;
  text-align: center;
  color: #fff;
}
.choosing .choose-block .choose-block__info .info-block__description {
  margin-top: 32px;
  font-family: "Barlow";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #fff;
  opacity: 0.8;
}
.choosing .choose-cards {
  display: flex;
  gap: 30px;
  justify-content: center;
  position: absolute;
  top: 320px;
  left: 60px;
}
.choosing .choose-cards .choose-card {
  padding: 72px 48px 40px;
  max-width: 340px;
  max-height: 370px;
  background-color: #0e8784;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: 0.3s ease;
}
.choosing .choose-cards .choose-card .info-card__title {
  margin-top: 56px;
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 24px;
  text-align: center;
  color: #fff;
}
.choosing .choose-cards .choose-card .info-card__description {
  margin-top: 24px;
  font-family: "Barlow";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #fff;
}
.choosing .choose-cards .choose-card:hover {
  background-color: #0b5f5e;
}

@media screen and (max-width: 768px) {
  .choosing {
    margin-top: 144px;
  }
  .choosing .choose-block {
    max-width: 100%;
    max-height: 550px;
  }
  .choosing .choose-block .choose-block__info {
    padding: 40px 75px 0;
  }
  .choosing .choose-cards {
    flex-direction: column;
    align-items: center;
    left: 20%;
    transform: translate(-12%);
  }
  .choosing .choose-cards .choose-card {
    flex-direction: row;
    gap: 55px;
    max-width: 100%;
    max-height: 180px;
    padding: 0px 48px 30px;
  }
}/*# sourceMappingURL=main.css.map */