// Colors
$main-color: #0e8784;
$card-color: #f4f1eb;
$secondary-color: #fdd6ba;
$style-color: #2c343e;
$opacity-color: #83888f;
$text-color: #333d4b;
$btn-active-color: #66d2cf;
// Breakpoints
$desktop: 1200px;
$tablet: 768px;
$mobile: 576px;