.bitmap {
  margin-top: 100px;

  .bitmap__image {
    background: url(../images/Bitmap_img.jpg) no-repeat center;
    max-width: 1200px;
    height: 564px;
    background-size: cover;
    padding: 80px 200px 0 86px;
    border-radius: 10px;

    .bitmap__title {
      font-family: "Fraunces", serif;
      color: #fff;
      font-weight: 900;
      font-size: 64px;
      line-height: 72px;
    }

    .bitmap__description {
      font-family: "Barlow";
      color: #fff;
      font-weight: 400;
      font-size: 18px;
      max-width: 450px;
      margin-top: 30px;
    }
  }
}

@media only screen and (max-width: $extra-tablet) {
  .bitmap {
    margin-top: 43px;
  }
}

@media only screen and (max-width: $tablet) {
  .bitmap {
    .bitmap__image {
      background-size: cover;
      border-radius: 10px;
      max-width: 100%;
      max-height: 500px;
      padding: 90px 70px 0 30px;

      .bitmap__title {
        font-size: 65px;
        line-height: 70px;
      }

      .bitmap__description {
        font-size: 16px;
      }

      .main-btn {
        margin-top: 25px;
      }
    }
  }
}

@media only screen and (max-width: $mobile) {
  .bitmap {
    .bitmap__image {
      background: url(../../images/Bitmap_img.jpg) no-repeat;
      background-size: cover;
      background-position: center;
      border-radius: 10px;
      max-width: 100%;
      max-height: 500px;
      padding: 80px 30px 0;

      .bitmap__title {
        font-size: 48px;
        line-height: 50px;
        text-align: center;
      }

      .bitmap__description {
        margin-top: 20px;
        text-align: center;
        font-size: 15px;
        width: auto;
        max-width: none;
      }

      .bitmap-btn {
        display: flex;
        justify-content: center;
        
        .main-btn {
          margin-top: 15px;
        }
      }


      .bitmap__description {
        font-size: 14px;
      }
    }
  }
}
