.bitmap {
  margin-top: 100px;

  .bitmap__image {
    background: url(../images/Bitmap_img.jpg) no-repeat center;
    max-width: 1200px;
    height: 564px;
    background-size: contain;
    padding: 117px 660px 0 86px;

    .bitmap__title {
      font-family: 'Fraunces', serif;
      color: #fff;
      font-weight: 900;
      font-size: 72px;
      line-height: 72px;
    }

    .bitmap__description {
      font-family: 'Barlow';
      color: #fff;
      font-weight: 400;
      font-size: 16px;
      max-width: 410px;
      margin-top: 30px;
    }

  }
}