.choose {
  display: flex;
  gap: 110px;
  padding: 0 85px;
  margin-top: 160px;

  .parts {
    display: inline-flex;
    flex-direction: column;

    .parts__btn {
      text-decoration: none;
      padding: 24px 10px 24px 0;
      display: inline-flex;
      gap: 10px;
      border-bottom: 2px solid #c4c7cc;

      .parts__number, .parts__text {
        font-family: 'Fraunces', serif;
        font-style: normal;
        font-weight: 900;
        font-size: 20px;
        line-height: 32px;
        color: #333D4B;
        opacity: .2;
        transition: .3s ease;
      }

      .parts__text {
        opacity: .3;
      }
    }

    .parts__btn:nth-child(5) {
      border: none;
    }

    .parts__btn:hover .parts__number {
      opacity: .5;
    }

    .parts__btn:hover .parts__text {
      opacity: .7;
    }
    
    .parts__btn:focus .parts__number {
      opacity: .7;
    }
    
    .parts__btn:focus .parts__text {
      opacity: 1;
    }
    
  }

  .prescriptions {

    .prescription {
      width: 730px;
      padding-top: 45px;

      .prescription-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 70px;
        .prescription__title {
          font-family: 'Fraunces', serif;
          font-style: normal;
          font-weight: 900;
          font-size: 25px;
          color: #83888F;
        }
      }

      .prescription__cards {
        display: flex;
        justify-content: space-between;
        margin-bottom: 88px;

        .prescription__card {

          .card-prescription__info {
            display: inline-flex;
            flex-direction: column;
            width: 228px;
            height: 260px;
            padding: 32px 30px 0 30px;
            background-color: #F4F1EB;
            border-radius: 8px;
            cursor: pointer;
            transition: .5s ease;

            :first-child {
              font-family: 'Fraunces', serif;
              font-style: normal;
              font-weight: 900;
              font-size: 24px;
              color: #333D4B;
            }
            
            :last-child {
              margin-top: 24px;
              font-family: 'Barlow';
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 26px;
              color: #333D4B;
            }
          }

          .card-prescription__variant[type="radio"]:checked + .card-prescription__info {
            background-color: #0E8784;
          }
          .card-prescription__variant[type="radio"]:checked + .card-prescription__info span {
            color: #fff;
          }

          .card-prescription__info:hover {
            background-color: #FDD6BA;
            border-radius: 8px;
          }
        }
      }
    }

    .total {
      width: 730px;
      height: 208px;
      background-color: #2C343E;
      border-radius: 10px;
      display: inline-flex;
      flex-direction: column;
      padding: 35px 75px 20px;
      gap: 8px;

      span:first-child {
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        color: #FFFFFF;
        opacity: .5;
      }

      span:last-child {
        font-family: 'Fraunces', serif;
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 40px;
        color: #FFFFFF;

        a {
          text-decoration: none;
          color: #0E8784;
        }
      }
    }

    .button-prescription__btn {
      padding: 15px 35px;
      background-color: #0E8784;
      border-radius: 6px;
      font-size: 14px;
      letter-spacing: 1px;
      font-family: 'Fraunces', serif;
      font-style: normal;
      font-weight: 900;
      display: inline-block;
      text-decoration: none;
      color: #fff;
      margin: 40px 0 0 533px;
      cursor: pointer;
      border: none;
    }
    
    .button-prescription__btn:hover {
      background-color: #0b5f5e;
    }
    
    .button-prescription__btn:active {
      background-color: #66D2CF;
    }
    
    .button-prescription__btn:focus {
      background-color: #66D2CF;
    }
  }
}