.choosing {
  margin-top: 200px;

  .choose-block {
    width: 1200px;
    height: 550px;
    border-radius: 10px;
    background-color: $style-color;
    position: relative;

    .choose-block__info {
      padding: 100px 340px 0;

      .info-block__heading {
        font-family: "Fraunces", serif;
        font-weight: 900;
        font-size: 40px;
        text-align: center;
        color: #fff;
      }

      .info-block__description {
        margin-top: 32px;
        font-family: "Barlow";
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        color: #fff;
        opacity: 0.8;
      }
    }
  }

  .choose-cards {
    display: flex;
    gap: 30px;
    justify-content: center;
    position: absolute;
    top: 320px;
    left: 60px;

    .choose-card {
      padding: 72px 48px 40px;
      max-width: 340px;
      max-height: 370px;
      background-color: $main-color;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
      transition: 0.3s ease;

      .info-card__title {
        margin-top: 56px;
        font-family: "Fraunces", serif;
        font-weight: 900;
        font-size: 24px;
        text-align: center;
        color: #fff;
      }

      .info-card__description {
        margin-top: 24px;
        font-family: "Barlow";
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        color: #fff;
      }
    }
    .choose-card:hover {
      background-color: #0b5f5e;
    }
  }
}

@media screen and (max-width: 768px) {
  .choosing {
    margin-top: 144px;

    .choose-block {
      max-width: 100%;
      max-height: 550px;

      .choose-block__info {
        padding: 40px 75px 0;
      }
    }
    
    .choose-cards {
      flex-direction: column;
      align-items: center;
      left: 20%;
      transform: translate(-12%);

      .choose-card {
        flex-direction: row;
        gap: 55px;
        max-width: 100%;
        max-height: 180px;
        padding: 0px 48px 30px;
      }
    }
  }
}
