.collection {
  margin-top: 140px;
  position: relative;
  
  .collection-types {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 45px;
    z-index: 2;
    position: relative;
    transform: translateY(-60px);

    
    .collection-types__pocket {
      width: 253px;
      cursor: pointer;
      
      .pocket-type__img {
        max-width: 255px;
      }

      .type-info__heading {
        font-family: "Fraunces", serif;
        font-weight: 900;
        font-size: 24px;
        text-align: center;
        color: $text-color;
      }

      .type-info__description {
        font-family: "Barlow";
        font-weight: 400;
        font-size: 16px;
        text-align: center;
        color: $text-color;
        line-height: 26px;
        margin-top: 24px;
      }
    }
  }
  .collection-heading {
    .collection-heading__text {
      font-size: 100px;
      position: relative;
      z-index: 1;
      opacity: 0.5;
      text-align: center;
      background: -webkit-linear-gradient(#333 0%, #eee 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: 900;
      font-family: "Fraunces", serif;
    }
  }

}

@media only screen and (max-width: $tablet) {
  .collection {
    padding: 200px 0 0;

    .collection-heading {

      .collection-heading__text {
        font-size: 80px;
        text-align: center;
      }
    }

    .collection-types {
      flex-direction: column;
      align-items: center;
      transform: translateY(-50px);

      .collection-types__pocket {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 550px;
        gap: 10px;
      }
    }
  }
}

@media only screen and (max-width: $mobile) {
  .collection {
    .collection-types {
      transform: translateY(0);
      .collection-types__pocket {
        max-width: 253px;
        flex-direction: column;
      }
    }

    .collection-heading {
      .collection-heading__text {
        font-size: 45px;
      }
    }
  }
}
