.collection {
  position: relative;
  padding: 248px 85px 0;

  .collection-types {
    display: flex;
    position: relative;
    z-index: 2;
    justify-content: space-between;

    .collection-types__pocket {
      width: 253px;
      cursor: pointer;

      .type-info__heading {
        font-family: "Fraunces", serif;
        font-weight: 900;
        font-size: 24px;
        text-align: center;
        color: $text-color;
      }

      .type-info__description {
        font-family: "Barlow";
        font-weight: 400;
        font-size: 16px;
        text-align: center;
        color: $text-color;
        line-height: 26px;
        margin-top: 24px;
      }
    }
  }

  .collection-heading__text {
    position: absolute;
    font-size: 170px;
    opacity: 0.5;
    text-align: center;
    background: -webkit-linear-gradient(#333 0%, #eee 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    font-family: "Fraunces", serif;
    top: 130px;
    left: 100px;
  }
}

@media (max-width: $tablet) {
  .collection {
    padding: 200px 0 0;

    .collection-heading__text {
      font-size: 95px;
      text-align: center;
      margin: 0 auto;
      top: 144px;
      left: 63px;
    }

    .collection-types {
      flex-direction: column;
      align-items: center;

      .collection-types__pocket {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 550px;
        gap: 10px;
      }
    }
  }
}
