* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.main-btn {
  display: inline-block;
  padding: 15px 30px;
  background-color: #0E8784;
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 900;
  font-size: 18px;
  border-radius: 6px;
  font-family: 'Fraunces', serif;
  margin-top: 56px;
  border: none;
  outline: none;
  transition: .5s ease;
}

.main-btn:hover {
  background-color: $main-color;
}

.main-btn:focus {
  background-color: #66D2CF;
}

.main-btn:active {
  background-color: #66D2CF;
}

@media screen and (max-width: $tablet) {
  .container {
    max-width: 92%;
  }
}