.create-plan {
  margin-top: 75px;
  background: url(../images/create-plan.jpg) no-repeat center;
  background-size: contain;
  max-width: 1200px;
  height: 425px;
  padding: 134px 0 0 85px;

  .create-plan__pic {

    .create-plan__title {
      font-family: 'Fraunces', serif;
      color: #fff;
      font-weight: 900;
      font-size: 66px;
    }
    
    .create-plan__description {
      font-family: 'Barlow';
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      color: #FEFCF7;
      margin-top: 30px;
      padding-right: 680px;
    }
  }
}